* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2.5em;
}

#container {
    width: 500px;
    height: auto;
    margin: 20px auto;
    background-color: bisque;
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-input {
    width: 90%;
    max-width: 100%;
    margin: 15px;
    padding: 20px;
    background-color: cornsilk;
    border: 4px solid gray;
    border-radius: 5px;
}

#check-btn, #clear-btn {
    width: 50%;
    max-width: 100%;
    margin: 15px;
    padding: 20px;
    border: 4px solid gray;
    border-radius: 5px;
    background-color: rgb(80, 79, 1);
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}

#check-btn:hover, #clear-btn:hover {
    background-color: rgb(80, 79, 1, 0.8);
}